* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.section-title {
    display: flex;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact__form {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contact__input:focus {
    border: 1px solid #0d6efd;
}

.contact__button,
.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #0d6efd;
    color: #fff;
    font-size: 18px;
}

.contact__button:hover,
.button:hover {
    background-color: #0b5ed7;
}

.contact__button:active,
.button:active {
    background-color: #0a58c2;
}

.contact__button:focus {
    background-color: #0d6efd;
}

.bd-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.alart,
.success {
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.success {
    color: green;
}